global
  maxconn 2048
  tune.ssl.default-dh-param 2048

defaults
  mode http
  option forwardfor
  option http-server-close
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend stats
  bind *:9000 ssl crt /usr/local/etc/haproxy/keithbartholomew.com.pem ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK force-tlsv12 no-sslv3
  stats uri /
  stats auth haproxy:"${STATS_PASS}"
  stats admin if TRUE

frontend http-in
  bind *:80
  reqadd X-Forwarded-Proto:\ http

  redirect prefix https://keithbartholomew.com code 301 if { hdr(host) -i www.keithbartholomew.com }
  redirect scheme https code 301 if { hdr(host) -i keithbartholomew.com AND !ssl_fc }

  redirect scheme https code 301 if { hdr(host) -i santa.keithbartholomew.com AND !ssl_fc }

  acl acl_bartholomews hdr(host) -i the.bartholome.ws
  acl acl_keithbartholomew hdr(host) -i keithbartholomew.com
  acl acl_etc hdr(host) -i etc.keithbartholomew.com
  acl acl_santa hdr(host) -i santa.keithbartholomew.com

  use_backend the-bartholomews if acl_bartholomews
  use_backend keithbartholomew if acl_keithbartholomew
  use_backend etc-keithbartholomew if acl_etc
  use_backend santa if acl_santa

frontend https-in
  bind *:443 ssl crt /usr/local/etc/haproxy/santa.keithbartholomew.com.pem crt /usr/local/etc/haproxy/keithbartholomew.com.pem ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK force-tlsv12 no-sslv3
  reqadd X-Forwarded-Proto:\ https

  use_backend keithbartholomew if { ssl_fc_sni keithbartholomew.com OR ssl_fc_sni www.keithbartholomew.com }
  use_backend santa if { ssl_fc_sni santa.keithbartholomew.com }

backend etc-keithbartholomew
  balance roundrobin
  option httpchk GET /readings/
  http-check expect string "<!DOCTYPE html>"
  http-response set-header X-Backend-Node %s
  server f3103457e535-blue 10.176.225.177:32884 check inter 2s



backend keithbartholomew
  balance roundrobin
  option httpchk GET /robots.txt
  http-check expect string "User-agent"
  http-response set-header X-Backend-Node %s
  server 51c9e38adc85-green 10.176.225.177:32888 check inter 2s
  server cedc149f23a6-green 10.176.225.177:32887 check inter 2s



backend the-bartholomews
  balance roundrobin
  option httpchk GET /robots.txt
  http-check expect string "User-agent"
  http-response set-header X-Backend-Node %s
  server b65c08cbe58e-blue 10.176.225.177:32860 check inter 2s
  server 5a08794996eb-blue 10.176.225.177:32859 check inter 2s

backend santa
  balance roundrobin
  option httpchk GET /
  http-check expect string "<!DOCTYPE html>"
  http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"
  http-response set-header X-Backend-Node %s
  server 3be0ca56e02a-green 104.130.22.197:32880 check inter 2s


backend smg-youth
  balance roundrobin
  option httpchk GET /robots.txt
  http-check expect string "User-agent"
  http-response set-header X-Backend-Node %s
